*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Initial Content Box */
#init-ctt-box {
    padding: 4rem;
}

/* Title */
#title- {
    font-size: 4rem;
    font-weight: 400px;
    color: #ff582a;
    font-family: 'Poppins', sans-serif;
    
}

/* Main Content */

main {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Div Agenda */
#btn-agenda {
    padding: 0px 15px 4rem 15px;
}

#input-box {
    border: 2px solid #ff582a;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 5px 10px 5px 10px;
    font-family: 'Poppins', sans-serif;
}

/* Button Confirmation */
#btn-confirm {
    padding: 5px 12px 5px 12px;
    border: 2px solid #ff582a;
    border-radius: 30px;
    background-color: transparent;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#btn-confirm:hover {
    cursor: pointer;
    background-color: #ffeae4;
    border-radius: 10px;
}

/* Afazeres text */
#box-afazeres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-afazeres h2 {
    font-size: 3rem;
    color: #37ffc3;
    padding: 15px;
}

#box-afazeres div {
    display: flex;
    align-items: center;
    margin-left: 4.2rem;

}

#box-afazeres p {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 2px;
    width: 600px;
    background-color: #37ffc3;
}

#box-afazeres span {
    color: rgb(109, 109, 109);
    margin-left: 12px;
}